<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.beautyminder">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 카메라 접근 권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 카메라 하드웨어 기능 명시 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
</manifest>
